body {
    background-size: cover;
}

#head {
    background-color: rgb(248, 205, 99);
    margin: 30px;
    padding: 25px;
    font-family: Cambria;
    color: white;
}

#note {
    font-size: 16px;
    color: black;
}

#song_name {
    width: 450px;
    font-size: 25px;
}

#song_name:hover {
    background-color: red;
    color: yellow;
    width: 150px;
}

canvas {
    border-radius: 25px;
    background-color: black;
}
#stop_play:hover {
    background-color: lightblue;
    color: green;
    width: 150px;
}

#stop_play {
   width: 250px;
    font-size: 25px;
    float: right;
    margin: 20px;
}